.startbutton_box {
    background-color: #c8553D;
    color: #FFF;
    font-weight: bolder;
    font-size: 30px;
    display: inline-flex;
    border-radius: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 60px;
    padding-right: 60px;
    margin: 20px;
}

.startbutton_box:hover {
    background-color: white;
    border: 2px solid #c8553D;
    color: #c8553D;
}

.startbutton_box_inner::selection {
    background: none;
    color: none;
}